/* *,
*::before,
*::after{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
} */

.col {
   margin: 0 !important;
   padding: 0 !important;
   box-sizing: border-box !important;
}

.thumbnail {
  margin: 0 !important;
}